@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(circle at 59% 65%, #AE6333 20%, #DCB08B 59%, #8D6E8D 100%);
  }
}

:root {
  --background: #F4F3F2;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F4F3F2;
  }
}

body {
  color: var(--foreground);
  font-family: 'Noto Sans JP', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
