@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(circle at 59% 65%, #AE6333 20%, #DCB08B 59%, #8D6E8D 100%);
  }
}

:root {
  --background: #F4F3F2;
  --foreground: #171717;
  
  /* Lean Designer Color System */
  /* Accent Colors */
  --LD-Color-Accent-50: #FAF5F0;
  --LD-Color-Accent-100: #EFE2D6;
  --LD-Color-Accent-200: #DEC1A9;
  --LD-Color-Accent-400: #BF8058;
  --LD-Color-Accent-700: #863F37;
  --LD-Color-Accent-800: #6F3431;
  --LD-Color-Accent-900: #5C2D2B;
  --LD-Color-Accent-950: #331515;
  
  /* Blue Colors */
  --LD-Color-Blue-100: #DFEEFA;
  --LD-Color-Blue-600: #4582D5;
  
  /* Green Colors */
  --LD-Color-Green-100: #DCF7D0;
  --LD-Color-Green-600: #37951B;
  
  /* Grey Colors */
  --LD-Color-Grey-50: #F6F6F5;
  --LD-Color-Grey-100: #E7E7E6;
  --LD-Color-Grey-200: #D2D1CF;
  --LD-Color-Grey-300: #B2B1AE;
  --LD-Color-Grey-400: #8B8985;
  --LD-Color-Grey-700: #51514D;
  --LD-Color-Grey-800: #474743;
  --LD-Color-Grey-900: #3E3E3B;
  --LD-Color-Grey-950: #262624;
  
  /* Primary Colors */
  --LD-Color-Primary-50: #F4F3F2;
  --LD-Color-Primary-100: #E1DEDB;
  --LD-Color-Primary-900: #251E1F;
  
  /* Red Colors */
  --LD-Color-Red-100: #FBE9E8;
  --LD-Color-Red-600: #C43A4A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F4F3F2;
  }
}

body {
  color: var(--LD-Color-Grey-700);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Display page animations */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lines-flow {
  0% { transform: translateX(-30px) translateY(0px); }
  50% { transform: translateX(30px) translateY(-10px); }
  100% { transform: translateX(-30px) translateY(0px); }
}

@keyframes single-continuous-path {
  0% {
    stroke-dasharray: 4000 0;
    stroke-dashoffset: 0;
    opacity: 0.8;
  }
  100% {
    stroke-dasharray: 4000 0;
    stroke-dashoffset: -4000;
    opacity: 0.8;
  }
}

.animate-lines-flow {
  animation: lines-flow 30s ease-in-out infinite;
}

.animate-single-continuous-path {
  animation: single-continuous-path 20s linear infinite;
}

.animate-fade-in-up {
  animation: fade-in-up 1.5s ease-out forwards;
}

.animate-fade-in-up-delay {
  animation: fade-in-up 1.5s ease-out 0.8s forwards;
  opacity: 0;
}
